<app-banner-section
  [bannerTitle]="bannerTitle"
  [bannerSubtitle]="bannerSubtitle"
  [bannerImage]="bannerImage"></app-banner-section>
<section>
  <div class="storytelling-text-content fade-in" animateOnVisible="visible">
    <h2>Notre histoire</h2>
    <p>
      C’est en quittant en 2006 le Master 2 prévention rééducation santé à Liévin, que le projet d’ouvrir un centre de remise en forme à la ferme né. Pourtant, il a fallu 15 ans pour revenir fort d’une expérience transcendante en me donnant toute la légitimité pour fonder ce projet et de surcroit là où je l’avais toujours imaginé. Effectivement, C’est en tant qu’enseignant d’APA que j’ai pu avoir le plaisir de côtoyer différents publics en difficultés et de travailler en équipe pluridisciplinaire.
      J’ai commencé à travailler d’abord pour l’éducation Nationale en classe relais puis prof d’EPS, puis comme enseignant de sport en milieu pénitencier, à hôpital (addictologie, médico-diététique, MAS) en EHPAD unité fermé (Mémoire Alzheimer), SESSAD, ITEP.
      <br/>Ma difficulté a été de mettre en mouvement certaines personnes alors j’ai voulu associer l’animal Cheval pour créer ce lien manquant. Cette envie de fonder ce projet vient aussi de mon vécu personnel qui m’a permis de trouver les ressources nécessaires pour avancer dans mon cheminement.
    </p>
    <p>
      <span class="insecable">Ô Cheval Radiant</span> a été fondé avec une vision simple et puissante : créer un espace où les personnes peuvent se reconnecter avec la nature et découvrir les bienfaits thérapeutiques du travail avec les chevaux. Située dans la paisible campagne de Maroilles, notre association est devenue une communauté chaleureuse dédiée à la guérison et à l'épanouissement.
    </p>
    <p>
      Ce qui a commencé comme une petite initiative s'est transformé en un programme complet qui accompagne des individus de tous horizons. Nous sommes convaincus que le lien entre l'humain et le cheval peut déclencher un profond développement émotionnel et social. Ce lien ouvre la voie à une meilleure connaissance de soi, à une véritable paix intérieure où tout un chacun se trouverait à sa place, dans l’harmonie du sacré : le Vivant.
    </p>
    <p>
      Notre approche est enracinée dans le respect de tous les êtres vivants et de notre environnement. Nous travaillons en étroite collaboration avec nos chevaux, les considérant comme de véritables partenaires thérapeutiques, et nous entretenons nos installations avec une grande attention pour l'écologie <b style="color: red;">(lien url avec projets communautaires)</b>.
    </p>
  </div>
</section>
<section>
  <div class="storytelling-text-content fade-in" animateOnVisible="visible">
    <h2>Notre vision</h2>
    <p>
      À Ô Cheval Radiant, nous imaginons un monde où le lien entre les humains et la nature est valorisé et nourri. Nous croyons qu'en cultivant ces relations avec les chevaux et notre environnement, nous aidons les individus à découvrir leur force intérieure et à bâtir des communautés plus solidaires.
      Notre engagement va au-delà des séances de thérapie individuelles. Nous voulons créer un espace où chacun peut se rassembler, partager ses expériences et se soutenir mutuellement. À travers nos initiatives de co-collectif et nos projets communautaires, nous souhaitons sensibiliser à l'importance du respect du vivant.
    </p>
    <p>
      Nous considérons notre rôle comme celui de facilitateurs de transformation—aidant chacun à se reconnecter à lui-même, aux autres et à la terre. Chaque interaction avec nos chevaux est une opportunité de croissance, de guérison et de découverte.
    </p>
  </div>
</section>
<section>
  <div class="text-section-content fade-in" animateOnVisible="visible">
    <div class="text-content">
      <h2>Nos installations</h2>
      <p class="text-content-paragraph">
        Nos installations à Maroilles offrent un cadre naturel et paisible pour tous nos programmes.
        <br />Nous entretenons des écuries dans la ferme familiale, des espaces de pratique sécurisés et des lieux confortables pour les activités de groupe et la réflexion.
      </p>
    </div>
    <div class="location-photos-container">
      @for(photo of sources; track $index) {
        <img
          src="{{ photo }}"
          alt="Les installations - {{ $index + 1 }}"
          class="experience-photo"
          (click)="openLightbox($index)"
          (keydown.enter)="openLightbox($index)"
        >
      }
    </div>
    <fslightbox	[toggler]="toggler"	[sources]="sources" [slide]="slide" />
  </div>
</section>
<section>
  <app-cta-section [cta_title]="cta_title" [cta_text]="cta_text" [cta_question]="cta_question"></app-cta-section>
</section>
