.banner-section {
  background-image: url('/images/a-propos/banner.jpg');
}

.location-photos-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  margin: 0 auto;
  & > img {
    width: 100%;
    height: auto;
    border-radius: var(--radius);
    aspect-ratio: 16 / 9;
    object-fit: cover;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .location-photos-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
