<app-banner-section
  [bannerTitle]="bannerTitle"
  [bannerSubtitle]="bannerSubtitle"
  [bannerImage]="bannerImage"></app-banner-section>
<section>
  <div class="storytelling-text-content">
    <div class="fade-in" animateOnVisible="visible">
      <h2>{{ a_propos_text.histoire_section.title }}</h2>
      <p>{{ a_propos_text.histoire_section.paragraph_01 }}</p>
    </div>
    <div class="fade-in" animateOnVisible="visible">
      <h3>{{ a_propos_text.histoire_section.retrospection.title }}</h3>
      <p>{{ a_propos_text.histoire_section.retrospection.paragraph_01 }}</p>
      <p>{{ a_propos_text.histoire_section.retrospection.paragraph_02}}</p>
    </div>
    <div class="fade-in" animateOnVisible="visible">
      <h3>{{ a_propos_text.histoire_section.parcours_pro.title }}</h3>
      <p>{{ a_propos_text.histoire_section.parcours_pro.paragraph_01 }}</p>
      <p>{{ a_propos_text.histoire_section.parcours_pro.paragraph_02 }}</p>
      <p>{{ a_propos_text.histoire_section.parcours_pro.paragraph_03 }}</p>
      <p>{{ a_propos_text.histoire_section.parcours_pro.paragraph_04 }}</p>
    </div>
  </div>
</section>
<section>
  <div class="text-section-content fade-in" animateOnVisible="visible">
    <div class="text-content">
      <h2>{{ a_propos_text.installations_section.title }}</h2>
      <p class="text-content-paragraph">{{ a_propos_text.installations_section.paragraph_01 }}</p>
    </div>
    <div class="location-photos-container">
      @for(photo of sources_thumbnail; track $index) {
        <img
          src="{{ photo }}"
          alt="Les installations - {{ $index + 1 }}"
          class="experience-photo"
          (click)="openLightbox($index)"
          (keydown.enter)="openLightbox($index)"
        >
      }
    </div>
    <fslightbox	[toggler]="toggler"	[sources]="sources" [slide]="slide" />
  </div>
</section>
<section>
  <div class="storytelling-text-content fade-in" animateOnVisible="visible">
    <h2>{{ a_propos_text.vision_section.title }}</h2>
    <p>{{ a_propos_text.vision_section.paragraph_01 }}</p>
    <p>{{ a_propos_text.vision_section.paragraph_02 }}</p>
  </div>
</section>
<section>
  <app-cta-section [cta_title]="cta_title" [cta_text]="cta_text" [cta_question]="cta_question"></app-cta-section>
</section>
