<header>
  <nav>
    <div class="logo">
      <img src="images/logo/logo.jpg" alt="Logo">
      <span class="logo-font">Ô<br/>Cheval Radiant</span>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/accueil']" routerLinkActive="route-active">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/a-propos']" routerLinkActive="route-active">À Propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/equipe']" routerLinkActive="route-active">Équipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/chevaux']" routerLinkActive="route-active">Chevaux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/bienfaits']" routerLinkActive="route-active">Bienfaits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/services']" routerLinkActive="route-active">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/experiences']" routerLinkActive="route-active">Expériences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/projets']" routerLinkActive="route-active">Projets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/partenaires']" routerLinkActive="route-active">Partenaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" ariaCurrentWhenActive="page" [routerLink]="['/contact']" routerLinkActive="route-active">Contact</a>
      </li>
    </ul>
  </nav>
</header>
