<section>
  <div class="text-section-content">
    <div class="title-text-content text-content">
      <h1>{{ conditions_utilisation_text.conditions_utilisation_section.title }}</h1>
    </div>
    <div class="storytelling-text-content">
      <h2>{{ conditions_utilisation_text.objet_site.title }}</h2>
      <p>{{ conditions_utilisation_text.objet_site.paragraph_01 }}</p>
      <p>{{ conditions_utilisation_text.objet_site.paragraph_02 }}</p>

      <h2>{{ conditions_utilisation_text.acces_site.title }}</h2>
      <p>{{ conditions_utilisation_text.acces_site.paragraph_01 }}</p>
      <p>{{ conditions_utilisation_text.acces_site.paragraph_02 }}</p>
      <ul>
        <li>{{ conditions_utilisation_text.acces_site.list_01 }}</li>
        <li>{{ conditions_utilisation_text.acces_site.list_02 }}</li>
        <li>{{ conditions_utilisation_text.acces_site.list_03 }}</li>
      </ul>

      <h2>{{ conditions_utilisation_text.utilisation_contenu.title }}</h2>
      <p>{{ conditions_utilisation_text.utilisation_contenu.paragraph_01 }}</p>
      <p>{{ conditions_utilisation_text.utilisation_contenu.paragraph_02 }}</p>
      <ul>
        <li>{{ conditions_utilisation_text.utilisation_contenu.list_01 }}</li>
        <li>{{ conditions_utilisation_text.utilisation_contenu.list_02 }}</li>
        <li>{{ conditions_utilisation_text.utilisation_contenu.list_03 }}</li>
        <li>{{ conditions_utilisation_text.utilisation_contenu.list_04 }}</li>
      </ul>
      <p>{{ conditions_utilisation_text.utilisation_contenu.paragraph_03 }}</p>

      <h2>{{ conditions_utilisation_text.responsabilite_utilisateur.title }}</h2>
      <p>{{ conditions_utilisation_text.responsabilite_utilisateur.paragraph_01 }}</p>
      <ul>
        <li>{{ conditions_utilisation_text.responsabilite_utilisateur.list_01 }}</li>
        <li>{{ conditions_utilisation_text.responsabilite_utilisateur.list_02 }}</li>
        <li>{{ conditions_utilisation_text.responsabilite_utilisateur.list_03 }}</li>
      </ul>
      <p>{{ conditions_utilisation_text.responsabilite_utilisateur.paragraph_02 }}</p>

      <h2>{{ conditions_utilisation_text.liens_externes.title }}</h2>
      <p>{{ conditions_utilisation_text.liens_externes.paragraph_01 }}</p>
      <p>{{ conditions_utilisation_text.liens_externes.paragraph_02 }}</p>
      <ul>
        <li>{{ conditions_utilisation_text.liens_externes.list_01 }}</li>
        <li>{{ conditions_utilisation_text.liens_externes.list_02 }}</li>
        <li>{{ conditions_utilisation_text.liens_externes.list_03 }}</li>
      </ul>

      <h2>{{ conditions_utilisation_text.donnees_personnelles.title }}</h2>
      <p>{{ conditions_utilisation_text.donnees_personnelles.paragraph_01 }}</p>
      <p>{{ conditions_utilisation_text.donnees_personnelles.paragraph_02 }}</p>
      <p>{{ conditions_utilisation_text.donnees_personnelles.paragraph_03 }}</p>

      <h2>{{ conditions_utilisation_text.cookies.title }}</h2>
      <p>{{ conditions_utilisation_text.cookies.paragraph_01 }}</p>
      <ul>
        <li>{{ conditions_utilisation_text.cookies.list_01 }}</li>
        <li>{{ conditions_utilisation_text.cookies.list_02 }}</li>
      </ul>
      <p>{{ conditions_utilisation_text.cookies.paragraph_02 }}</p>

      <h2>{{ conditions_utilisation_text.modification_conditions.title }}</h2>
      <p>{{ conditions_utilisation_text.modification_conditions.paragraph_01 }}</p>
      <p>{{ conditions_utilisation_text.modification_conditions.paragraph_02 }}</p>

      <h2>{{ conditions_utilisation_text.contact.title }}</h2>
      <p>{{ conditions_utilisation_text.contact.paragraph_01 }}</p>
    </div>
  </div>
</section>
