<section>
  <div class="text-section-content fade-in" animateOnVisible="visible">
    <div class="title-text-content text-content">
      <h1>Vos retours d'expériences</h1>
      <p class="title-subtitle">Voyages, émotions et moments partagés à Ô Cheval Radiant.</p>
    </div>
    <div class="photos-container">
      @for(photo of sources_thumbnail; track $index) {
        <img
          src="{{ photo }}"
          alt="Experience n°{{ $index + 1 }}"
          class="experience-photo"
          (click)="openLightbox($index)"
          (keydown.enter)="openLightbox($index)"
        >
      }
    </div>
    <fslightbox	[toggler]="toggler"	[sources]="sources" [slide]="slide" />
  </div>
</section>
<section>
  <app-cta-section [cta_title]="cta_title" [cta_text]="cta_text" [cta_question]="cta_question"></app-cta-section>
</section>
