<section>
  <div class="text-section-content">
    <div class="title-text-content text-content fade-in" animateOnVisible="visible">
      <h1>{{ experiences_text.equipe_section.title }}</h1>
      <p class="title-subtitle" [innerHTML]="experiences_text.equipe_section.subtitle | safeHtml"></p>
    </div>
    <div class="photos-container">
      @for(photo of sources_thumbnail; track $index) {
        <img
          src="{{ photo }}"
          alt="Experience n°{{ $index + 1 }}"
          class="fade-in zoom shadow"
          animateOnVisible="visible"
          (click)="openLightbox($index)"
          (keydown.enter)="openLightbox($index)"
        >
      }
    </div>
    <fslightbox	[toggler]="toggler"	[sources]="sources" [slide]="slide" />
  </div>
</section>
<section>
  <div class="text-section-content">
    <div class="title-text-content text-content fade-in" animateOnVisible="visible">
      <h2>{{ experiences_text.temoignage_section.title }}</h2>
    </div>
    <div class="cards-container fade-in" animateOnVisible="visible">
      @for (card of experiences_text.temoignage_section.temoignages; track card.id) {
        <app-flip-card [card]="card"></app-flip-card>
      }
    </div>
  </div>
</section>
<section>
  <app-cta-section [cta_title]="cta_title" [cta_text]="cta_text" [cta_question]="cta_question"></app-cta-section>
</section>
