.main-container {
  display: flex;
  gap: 0.25rem;
}

.nav-item {
  display: flex;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 600;
  list-style-type: none;
}

.nav-link {
  padding: 0.5rem;
  color: hsl(var(--secondary-text));
  border-radius: var(--radius);
  text-decoration: none;
}

.nav-link:hover {
  color: hsl(var(--primary));
  background-color: hsla(0, 0%, 95%, 0.8);
  border-radius: var(--radius);

}

.route-active {
  color: hsl(var(--primary));
  background-color: hsl(120 25% 95% / 0.8);
  border-radius: var(--radius);
}
