.icon-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--primary) / .1);
  border-radius: var(--radius);
}

.card-icon {
  width: 1.75rem;
  height: 1.75rem;
}
