<div class="text-section-content">
  <div class="text-content fade-in" animateOnVisible="visible">
    <h2>{{ cta_title() }}</h2>
    <p class="text-content-paragraph" [innerHTML]="cta_text() | safeHtml"></p>
    @if (on_contact_page()) {
      <p class="text-content-paragraph" [innerHTML]="cta_section_text.contact_page.text | safeHtml"></p>
    } @else {
      <p class="text-content-paragraph"><span [innerHTML]="cta_question() | safeHtml"></span> {{ cta_section_text.other_pages.text_01 }} <a [routerLink]="['../'+ navigation_links.contact.routerLink]">{{ cta_section_text.other_pages.text_02 }}</a> {{ cta_section_text.other_pages.text_03 }} <a href="{{ facebook_text.facebook_link }}" target="_blank" rel="noopener noreferrer">{{ cta_section_text.other_pages.text_04 }}</a>.</p>
    }
  </div>
</div>
