<section>
  <div class="text-section-content">
    <div class="title-text-content text-content">
      <h1>{{ mentions_legales_text.mentions_legales_section.title }}</h1>
    </div>
    <div class="storytelling-text-content">
      <h2>{{ mentions_legales_text.editeur.title }}</h2>
      <p>Ce site est édité par : {{ mentions_legales_text.editeur.client_name }}</p>
      <p>Statut : {{ mentions_legales_text.editeur.client_statut }}</p>
      <p>Adresse : {{ mentions_legales_text.editeur.client_address }}</p>
      <p>Téléphone : {{ mentions_legales_text.editeur.client_phone }}</p>
      <p>E‑mail : {{ mentions_legales_text.editeur.client_mail }}</p>
      <p>Numéro SIRET : {{ mentions_legales_text.editeur.client_siret }}</p>
      <p>Responsable de la publication : {{ mentions_legales_text.editeur.publication_manager }}</p>

      <h2>{{ mentions_legales_text.hebergeur.title }}</h2>
      <p>Le site est hébergé par : {{ mentions_legales_text.hebergeur.hosting_name }}</p>
      <p>Adresse : {{ mentions_legales_text.hebergeur.hosting_address }}</p>
      <p>Site web : {{ mentions_legales_text.hebergeur.hosting_url }}</p>

      <h2>{{ mentions_legales_text.propriete_intellectuelle.title }}</h2>
      <p>{{ mentions_legales_text.propriete_intellectuelle.paragraph_01 }}</p>
      <p>{{ mentions_legales_text.propriete_intellectuelle.paragraph_02 }}</p>
      <p>{{ mentions_legales_text.propriete_intellectuelle.paragraph_03 }}</p>

      <h2>{{ mentions_legales_text.donnees_personnelles.title }}</h2>
      <p>{{ mentions_legales_text.donnees_personnelles.paragraph_01 }}</p>
      <p>{{ mentions_legales_text.donnees_personnelles.paragraph_02 }}</p>
      <p>{{ mentions_legales_text.donnees_personnelles.paragraph_03 }}</p>

      <h2>{{ mentions_legales_text.cookies.title }}</h2>
      <p>{{ mentions_legales_text.cookies.paragraph_01 }}</p>
      <ul>
        <li>{{ mentions_legales_text.cookies.paragraph_02 }}</li>
        <li>{{ mentions_legales_text.cookies.paragraph_03 }}</li>
      </ul>
      <p>{{ mentions_legales_text.cookies.paragraph_04 }}</p>

      <h2>{{ mentions_legales_text.limitation_responsabilite.title }}</h2>
      <p>{{ mentions_legales_text.limitation_responsabilite.paragraph_01 }}</p>
      <p>{{ mentions_legales_text.limitation_responsabilite.paragraph_02 }}</p>
      <p>{{ mentions_legales_text.limitation_responsabilite.paragraph_03 }}</p>
      <ul>
        <li>{{ mentions_legales_text.limitation_responsabilite.paragraph_04 }}</li>
        <li>{{ mentions_legales_text.limitation_responsabilite.paragraph_05 }}</li>
        <li>{{ mentions_legales_text.limitation_responsabilite.paragraph_06 }}</li>
      </ul>

      <h2>{{ mentions_legales_text.liens_externes.title }}</h2>
      <p>{{ mentions_legales_text.liens_externes.paragraph_01 }}</p>
      <p>{{ mentions_legales_text.liens_externes.paragraph_02 }}</p>

      <h2>{{ mentions_legales_text.contact.title }}</h2>
      <p>{{ mentions_legales_text.contact.paragraph_01 }}</p>
    </div>
  </div>
</section>
