.card {
  height: var(--card-height);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: hsl(var(--card));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
}

.nom {
  font-weight: 600;
  letter-spacing: -0.025em;
  color: hsl(var(--primary-text));
  padding: 1.5rem;
}

.title {
  font-weight: 600;
  padding: 0 1.5rem;
}

.info {
  padding: 1.5rem;
  padding-top: 0;
}

ul {
  padding-top: 0;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}
