.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: hsl(var(--card));
  border: 1px solid hsl(var(--border));
  border-radius: 0.75rem;
  box-shadow: 1px 1px 1px hsl(var(--shadow));
}

.nom {
  font-weight: 600;
  letter-spacing: -0.025em;
  color: hsl(var(--primary-text));
  padding: 1.5rem;
}

.info {
  padding: 1.5rem;
  padding-top: 0;
}
