<section>
  <div class="text-section-content">
    <div class="title-text-content text-content fade-in" animateOnVisible="visible">
      <h1>{{ equipe_text.equipe_section.title }}</h1>
      <p class="title-subtitle">{{ equipe_text.equipe_section.subtitle }}</p>
    </div>
    <div class="presentation-cards-container">
      @for (card of equipe_text.equipe_section.card; track card.id) {
        <app-presentation-card [card]="card"></app-presentation-card>
      }
    </div>
  </div>
</section>
<section>
  <app-cta-section [cta_title]="cta_title" [cta_text]="cta_text" [cta_question]="cta_question"></app-cta-section>
</section>
