<section>
  <div class="text-section-content">
    <div class="title-text-content text-content fade-in" animateOnVisible="visible">
      <h1>Rencontrez notre équipe</h1>
      <p class="title-subtitle">Nos professionnels dévoués travaillent ensemble pour créer un environnement accueillant où la guérison et l'épanouissement personnel peuvent prospérer.</p>
    </div>
    <div class="presentation-cards-container">
      @for (card of presentationCards.card; track card.id) {
        <app-presentation-card [card]="card"></app-presentation-card>
      }
    </div>
  </div>
</section>
<section>
  <app-cta-section [cta_title]="cta_title" [cta_text]="cta_text" [cta_question]="cta_question"></app-cta-section>
</section>
