<div class="carousel">
  <div class="carousel-photos-container" [class.animate]="animate">
    @if (sources_thumbnail.length === nbOfPhotos()) {
      @for(photo of sources_thumbnail; track $index) {
        <img
          src="{{ photo }}"
          alt="Les installations - {{ $index + 1 }}"
          (load)="onImageLoaded()"
          (click)="openLightbox($index)"
          (keydown.enter)="openLightbox($index)"
        >
      }
    }
  </div>
  <div aria-hidden class="carousel-photos-container" [class.animate]="animate">
    @if (sources_thumbnail.length === nbOfPhotos()) {
      @for(photo of sources_thumbnail; track $index) {
        <img
          src="{{ photo }}"
          alt="Les installations - {{ $index + 1 }}"
          (load)="onImageLoaded()"
          (click)="openLightbox($index)"
          (keydown.enter)="openLightbox($index)"
        >
      }
    }
  </div>
</div>
<fslightbox	[toggler]="toggler"	[sources]="sources" [slide]="slide" />
