<section>
  <div class="text-section-content">
    <div class="title-text-content text-content">
      <h1>{{ politique_confidentialite_text.politique_confidentialite_section.title }}</h1>
    </div>
    <div class="storytelling-text-content">
      <h2>{{ politique_confidentialite_text.responsable_traitement.title }}</h2>
      <p>{{ politique_confidentialite_text.responsable_traitement.paragraph_01 }}</p>
      <p>{{ politique_confidentialite_text.responsable_traitement.paragraph_02 }}</p>

      <h2>{{ politique_confidentialite_text.donnees_collectees.title }}</h2>
      <p>{{ politique_confidentialite_text.donnees_collectees.paragraph_01 }}</p>
      <h3>{{ politique_confidentialite_text.donnees_collectees.donnees_collectees_automatiquement.title }}</h3>
      <p>{{ politique_confidentialite_text.donnees_collectees.donnees_collectees_automatiquement.paragraph_01 }}</p>
      <ul>
        <li>{{ politique_confidentialite_text.donnees_collectees.donnees_collectees_automatiquement.list_01 }}</li>
        <li>{{ politique_confidentialite_text.donnees_collectees.donnees_collectees_automatiquement.list_02 }}</li>
        <li>{{ politique_confidentialite_text.donnees_collectees.donnees_collectees_automatiquement.list_03 }}</li>
        <li>{{ politique_confidentialite_text.donnees_collectees.donnees_collectees_automatiquement.list_04 }}</li>
        <li>{{ politique_confidentialite_text.donnees_collectees.donnees_collectees_automatiquement.list_05 }}</li>
      </ul>
      <p>{{ politique_confidentialite_text.donnees_collectees.donnees_collectees_automatiquement.paragraph_02 }}</p>

      <h2>{{ politique_confidentialite_text.finalite_collecte.title }}</h2>
      <p>{{ politique_confidentialite_text.finalite_collecte.paragraph_01 }}</p>
      <ul>
        <li>{{ politique_confidentialite_text.finalite_collecte.list_01 }}</li>
        <li>{{ politique_confidentialite_text.finalite_collecte.list_02 }}</li>
        <li>{{ politique_confidentialite_text.finalite_collecte.list_03 }}</li>
      </ul>
      <p>{{ politique_confidentialite_text.finalite_collecte.paragraph_02 }}</p>

      <h2>{{ politique_confidentialite_text.base_legale_traitement.title }}</h2>
      <p>{{ politique_confidentialite_text.base_legale_traitement.paragraph_01 }}</p>
      <ul>
        <li>{{ politique_confidentialite_text.base_legale_traitement.list_01 }}</li>
        <li>{{ politique_confidentialite_text.base_legale_traitement.list_02 }}</li>
      </ul>

      <h2>{{ politique_confidentialite_text.duree_conservation.title }}</h2>
      <p>{{ politique_confidentialite_text.duree_conservation.paragraph_01 }}</p>

      <h2>{{ politique_confidentialite_text.destinataire_donnees.title }}</h2>
      <p>{{ politique_confidentialite_text.destinataire_donnees.paragraph_01 }}</p>
      <ul>
        <li>{{ politique_confidentialite_text.destinataire_donnees.list_01 }}</li>
        <li>{{ politique_confidentialite_text.destinataire_donnees.list_02 }}</li>
      </ul>
      <p>{{ politique_confidentialite_text.destinataire_donnees.paragraph_02 }}</p>

      <h2>{{ politique_confidentialite_text.droits.title }}</h2>
      <p>{{ politique_confidentialite_text.droits.paragraph_01 }}</p>
      <ul>
        <li>{{ politique_confidentialite_text.droits.list_01 }}</li>
        <li>{{ politique_confidentialite_text.droits.list_02 }}</li>
        <li>{{ politique_confidentialite_text.droits.list_03 }}</li>
        <li>{{ politique_confidentialite_text.droits.list_04 }}</li>
      </ul>
      <p>{{ politique_confidentialite_text.droits.paragraph_02 }}</p>

      <h2>{{ politique_confidentialite_text.cookies.title }}</h2>
      <p>{{ politique_confidentialite_text.cookies.paragraph_01 }}</p>
      <ul>
        <li>{{ politique_confidentialite_text.cookies.list_01 }}</li>
        <li>{{ politique_confidentialite_text.cookies.list_02 }}</li>
      </ul>
      <p>{{ politique_confidentialite_text.cookies.paragraph_02 }}</p>

      <h2>{{ politique_confidentialite_text.securite.title }}</h2>
      <p>{{ politique_confidentialite_text.securite.paragraph_01 }}</p>
      <ul>
        <li>{{ politique_confidentialite_text.securite.list_01 }}</li>
        <li>{{ politique_confidentialite_text.securite.list_02 }}</li>
        <li>{{ politique_confidentialite_text.securite.list_03 }}</li>
        <li>{{ politique_confidentialite_text.securite.list_04 }}</li>
      </ul>

      <h2>{{ politique_confidentialite_text.modifications_politique.title }}</h2>
      <p>{{ politique_confidentialite_text.modifications_politique.paragraph_01 }}</p>
      <p>{{ politique_confidentialite_text.modifications_politique.paragraph_02 }}</p>

      <h2>{{ politique_confidentialite_text.contact.title }}</h2>
      <p>{{ politique_confidentialite_text.contact.paragraph_01 }}</p>
    </div>
  </div>
</section>
