<section>
  <div class="text-section-content">
    <div class="title-text-content text-content fade-in" animateOnVisible="visible">
      <h1>{{ chevaux_text.chevaux_section.title }}</h1>
      <p class="title-subtitle" [innerHTML]="chevaux_text.chevaux_section.subtitle | safeHtml"></p>
    </div>
    <div class="presentation-cards-container">
      @for (card of chevaux_text.chevaux_section.card; track card.id) {
        <app-presentation-card [card]="card"></app-presentation-card>
      }
    </div>
  </div>
</section>
<section>
  <div class="storytelling-text-content fade-in" animateOnVisible="visible">
    <span class="quote quote-first">“</span>
    <h2>{{ chevaux_text.president_section.title }}</h2>
    <p>{{ chevaux_text.president_section.paragraph_01 }}</p>
    <p>{{ chevaux_text.president_section.paragraph_02 }}</p>
    <p>{{ chevaux_text.president_section.paragraph_03 }}</p>
    <span class="quote quote-last">”</span>
  </div>
</section>
<section>
  <app-cta-section [cta_title]="cta_title" [cta_text]="cta_text"></app-cta-section>
</section>
