@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Merriweather';
  src: url('/fonts/merriweather/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/dmsans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
      font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  font-size: 0.91rem;
  line-height: 1.625rem;
  letter-spacing: 0.04rem;
  background-color: #f5f5f5;
  color: hsl(var(--primary-text));
  overflow-x: clip;

  --primary: 120 25% 45%;
  --tertiary: 40 15% 92%;
  --primary-text: 0 0% 15%;
  --secondary-text: 0 0% 40%;
  --tertiary-text: 0 0% 100%;
  --border: 40 12% 85%;
  --radius: 0.75rem;
}

h1, p {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  animation-duration: 0.2s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  display: inline-flex;
  font-family: "Manrope", sans-serif;
  height: 2.5rem;
  padding: 0 2rem;
  color: hsl(var(--tertiary-text));
  letter-spacing: 0.05rem;
  border: none;
  border-radius: calc(var(--radius) - 2px);
  align-items: center;
  font-weight: 600;
  white-space: nowrap;
  animation-duration: 0.2s;
  transition-duration: 0.2s;
  cursor: pointer;
}

.logo-font {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.04rem;
  color: #333;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo > img {
  width: 4rem;
  height: auto;
  border-radius: 50%;
}

.text-sm {
  font-size: 0.8rem;
  line-height: 1.25rem;
}
