<section class="banner-section" [style.height]="heroHeader() ? '100vh' : '400px'">
  <div class="image-container" [style.height]="heroHeader() ? '100vh' : '400px'">
    <img
    srcset=
      "{{ banner_medium }} 768w,
      {{ banner_large }} 1024w,
      {{ banner_xl }} 1980w,
      {{ banner_2xl }} 3394w"
    fetchpriority="high"
    loading="eager"
    fill
    alt="La bannière de présentation de la page" />
  </div>
  <div class="banner-backdrop-filter" [style.height]="heroHeader() ? '100vh' : '400px'"></div>
  <div class="banner-content fade-in" animateOnVisible="visible" [style.min-height]="heroHeader() ? '100vh' : '400px'">
    <h1>{{ bannerTitle() }}</h1>
    <p class="banner-subtitle" [innerHTML]="(bannerSubtitle() || '') | safeHtml"></p>
    @if (heroHeader()) {
      <div class="buttons-container">
      <app-facebook-button></app-facebook-button>
      <a class="button about-button text-sm" [routerLink]="[navigation_links.equipe.routerLink]" fragment="inscription">Nous soutenir<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right w-4 h-4 ml-2"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg></a>
    </div>
    }
  </div>
</section>
