<section class="hero-header-content">
  <div class="hero-header-text">
    <h1 class="hero-header-title">Connecter les cœurs grâce à l'équithérapie</h1>
    <p class="hero-header-subtitle">Découvrez le pouvoir de guérison de la nature et des chevaux à Ô Cheval Radiant, où nous tissons des liens profonds entre l'humain et le vivant.</p>
    <div class="buttons-container">
      <app-facebook-button></app-facebook-button>
      <button class="about-button">En savoir plus<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right w-4 h-4 ml-2"><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg></button>
    </div>
  </div>
</section>
