.banner-section {
  min-height: 100dvh;
  background-image: url("/images/accueil/hero-header.jpg");
}

.banner-content {
  min-height: 100dvh;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.about-button {
  gap: 0.5rem;
  background: #ffffff1a;
  border: 1px solid #ffffff4d;
  backdrop-filter: blur(4px);
}

.about-button:hover {
  background-color: #fff3;
}

.definition-cards-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
  gap: 2rem;
}

@media (min-width: 768px) {
  .definition-cards-container {
    grid-template-columns: repeat(3, minmax(0px, 1fr));
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}

