<app-banner-section
  [bannerTitle]="bannerTitle"
  [bannerSubtitle]="bannerSubtitle"
  [bannerImage]="bannerImage"></app-banner-section>
<section>
  <div class="storytelling-text-content fade-in" animateOnVisible="visible">
    <h2>{{ bienfaits_text.passe_section.title }}</h2>
    <p>{{ bienfaits_text.passe_section.paragraph_01 }}</p>
    <p>{{ bienfaits_text.passe_section.paragraph_02 }}</p>
  </div>
</section>
<section>
  <div class="storytelling-text-content fade-in" animateOnVisible="visible">
    <h2>{{ bienfaits_text.symbolique_section.title }}</h2>
    <p>{{ bienfaits_text.symbolique_section.paragraph_01 }}</p>
    <p>{{ bienfaits_text.symbolique_section.paragraph_02 }}</p>
    <p>{{ bienfaits_text.symbolique_section.paragraph_03 }}</p>
  </div>
</section>
<section>
  <div class="text-section-content">
    <div class="text-content">
      <div class="fade-in" animateOnVisible="visible">
        <h2>{{ bienfaits_text.bienfaits_section.title }}</h2>
        <p class="text-content-paragraph">{{ bienfaits_text.bienfaits_section.paragraph_01 }}</p>
      </div>
      <div class="definition-cards-container">
        @for (card of bienfaits_text.bienfaits_section.card; track card.id) {
          <app-definition-card [card]="card"></app-definition-card>
        }
      </div>
    </div>
  </div>
</section>
<section>
  <div class="storytelling-text-content fade-in" animateOnVisible="visible">
    <h2>{{ bienfaits_text.miroir_section.title }}</h2>
    <p>{{ bienfaits_text.miroir_section.paragraph_01 }}</p>
    <p>{{ bienfaits_text.miroir_section.paragraph_02 }}</p>
    <p>{{ bienfaits_text.miroir_section.paragraph_03 }}</p>
  </div>
</section>
<section>
  <app-cta-section [cta_title]="cta_title" [cta_text]="cta_text" [cta_question]="cta_question"></app-cta-section>
</section>
