.contact-button {
  gap: 0.5rem;
  background: hsl(var(--primary-text) / 0.4);
  &:hover {
    background: hsl(var(--primary-text) / 0.3);
    color: hsl(var(--tertiary-text));
  }
}

@media (min-width: 920px) {
  .cards-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
    line-height: 1;
  }
}

